/* Button */
.btn {
    &:link,
    &:visited {
        text-decoration: none;
        padding: .8rem 5rem;
        display: inline-block;
        border-radius: 1.5rem;
        transition: all .2s;
        position: relative;
        font-size: 1.8rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 10rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-black;

        border: .2rem solid $color-black;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;;
    }

    &-view {
        position: relative;
    }

    &--text {
        position: absolute;
        top: 0;
        right: 2rem;

        &:link,
        &:visited {
            font-size: $default-font-size;
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid $color-primary;
            padding: .4rem;
            transition: all .3s;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }

    &--view-more {
        border-top: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        border-radius: 0;
        text-decoration: none;
        color: $color-black;
        padding: 1rem 2rem;
        font-size: 2rem;
        transition: all .2s;

        &:hover {
            text-decoration: none;
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
    }

    &--pink {
        color: $color-white;
        background-color: $color-primary;
    }

   
}